
{  
    margin: 2; 
    padding: 2; 
    
} 

header{   
    background-color: hsl(60, 3%, 75%);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}