
{  
    margin: 4; 
    padding: 5; 
    
} 

header{   
    background-color: hsl(60, 3%, 75%);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}