
*{  
    margin: 0; 
    padding: 0; 
    
} 

header{   
    background-color: beige;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}