header{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
}

.cabeçario{
    font-size: 25px;
}

.mapa{
    width: 40%;
    display: flex;
  justify-content: center;
}